body {
  background: #e4e4e4;
  font-family: "ff-tisa-web-pro", serif;
  font-size: 1em;
  line-height: 1.5em; }

h1 {
  font-family: "oxtail", sans-serif; }

a {
  color: #578934; }

.body-text {
  margin-bottom: 5em; }
  .body-text p {
    font-size: 1.4em; }

label {
  margin-top: 10px;
  font-size: 20px; }

input {
  margin-top: 10px;
  display: inline-block; }

input.btn {
  margin-top: 0px !important; }

.navbar-inner a {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #132e3f !important; }
  .navbar-inner a:hover {
    background-color: #305e42 !important; }
.navbar-inner .active a {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: none !important;
  color: #305e42 !important; }

.navbar-inner {
  background: #578934 !important;
  border-bottom: 3px solid #e4e4e4 !important;
  padding-bottom: 0; }
  .navbar-inner a {
    margin: 0;
    font-size: 1.5em; }
  .navbar-inner .container-fluid {
    text-align: center; }
    .navbar-inner .container-fluid .nav-collapse.collapse ul.nav.center-nav {
      display: inline-block !important;
      margin: 0 auto !important;
      padding: 0;
      float: none;
      vertical-align: bottom; }
      .navbar-inner .container-fluid .nav-collapse.collapse ul.nav.center-nav li a {
        padding: 0.75em 0.5em 1em;
        text-shadow: 0 0 0; }
      .navbar-inner .container-fluid .nav-collapse.collapse ul.nav.center-nav li#logo {
        position: relative;
        width: 120px; }
        .navbar-inner .container-fluid .nav-collapse.collapse ul.nav.center-nav li#logo img#adalogo {
          width: 106px;
          height: 106px;
          position: absolute;
          top: -9px;
          left: 11px; }

.icon {
  margin-top: 10px;
  height: 45px;
  width: 45px; }

.page-header {
  height: 150px;
  margin-top: 0px;
  margin-bottom: 60px;
  background: #9eb15f;
  background-repeat: no-repeat;
  background-size: 100%; }
  .page-header h1 {
    text-shadow: 2px 2px white;
    font-size: 90px;
    margin-top: 0px;
    padding-top: 60px;
    padding-left: 20px; }

.footer {
  padding-top: 30px;
  padding-left: 40px;
  background: #578934;
  border-top: 1px solid #305e42; }
  .footer a {
    color: #132e3f; }
  .footer .footer-email-form {
    margin-right: 40px;
    text-align: right !important; }

#jumbotron {
  height: 350px !important;
  background-image: url("/images/typing.png");
  margin-bottom: 20px; }
  #jumbotron #jumbotron-text {
    padding-top: 75px; }
  #jumbotron h1.ada-text {
    font-size: 120px; }
  #jumbotron h1 {
    margin-left: 20px;
    text-shadow: 2px 2px white;
    font-size: 70px;
    line-height: 0.8; }
  #jumbotron h3 {
    font-weight: 100;
    line-height: 1; }

.featured {
  text-align: center; }

div.sponsors {
  margin-bottom: 50px; }

ul.sponsors li {
  height: 70px;
  line-height: 70px; }
ul.sponsors img {
  width: 100%;
  max-height: 70px;
  display: inline-block; }

#ada-info img {
  display: block;
  margin: 0 auto; }
