body {
  background: #e4e4e4;
  font-family: "ff-tisa-web-pro", serif;
  font-size: 1em;
  line-height: 1.5em; }

h1, h2, h3 {
  font-family: "oxtail", sans-serif; }

a {
  color: #578934; }

.container {
  padding-left: 10px; }

.body-text {
  margin-bottom: 5em; }
  .body-text p {
    font-size: 1.4em;
    line-height: 1.5em;
    margin-bottom: 40px; }

hr {
  margin: 30px 0; }

.killwithcenter {
  display: block;
  margin: 0 auto;
  text-align: center; }

label {
  margin-top: 10px;
  font-size: 20px; }

input {
  margin-top: 10px;
  display: inline-block; }

input.btn {
  margin-top: 0px !important; }

.navbar-inner a {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #132e3f !important; }
  .navbar-inner a:hover {
    background-color: #305e42 !important; }
.navbar-inner .active a {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: none !important;
  color: #305e42 !important; }

.navbar-inner {
  background: #578934 !important;
  border-bottom: 3px solid #e4e4e4 !important;
  padding-bottom: 0; }
  .navbar-inner a {
    margin: 0;
    font-size: 1.5em; }
  .navbar-inner .container-fluid {
    text-align: center; }
    .navbar-inner .container-fluid .nav-collapse.collapse ul.nav.center-nav {
      display: inline-block !important;
      margin: 0 auto !important;
      padding: 0;
      float: none;
      vertical-align: bottom;
      padding-left: 70px; }
      .navbar-inner .container-fluid .nav-collapse.collapse ul.nav.center-nav li a {
        padding: 0.75em 0.5em 1em;
        text-shadow: 0 0 0;
        font-family: "oxtail", sans-serif; }
      .navbar-inner .container-fluid .nav-collapse.collapse ul.nav.center-nav li#logo {
        position: relative;
        width: 120px; }
        .navbar-inner .container-fluid .nav-collapse.collapse ul.nav.center-nav li#logo a, .navbar-inner .container-fluid .nav-collapse.collapse ul.nav.center-nav li#logo a:hover, .navbar-inner .container-fluid .nav-collapse.collapse ul.nav.center-nav li#logo a:visited, .navbar-inner .container-fluid .nav-collapse.collapse ul.nav.center-nav li#logo a:active {
          background-color: transparent !important; }
        .navbar-inner .container-fluid .nav-collapse.collapse ul.nav.center-nav li#logo img#adalogo {
          width: 106px;
          height: 106px;
          position: absolute;
          top: -9px;
          left: 11px; }

.icon {
  margin-top: 10px;
  height: 45px;
  width: 45px; }

.page-header {
  height: auto;
  margin: 0 0 1.5em 0;
  padding: 1.5em 0;
  background: #132e3f;
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom: 1px solid #132e3f;
  text-align: center; }
  .page-header .span12 {
    text-align: center;
    vertical-align: middle; }
  .page-header h1 {
    text-shadow: 1px 2px #578934;
    font-size: 5em;
    line-height: 1em;
    color: #9eb15f;
    display: inline; }
    .page-header h1 small {
      color: #578934;
      text-shadow: 2px 1px #305e42;
      font-size: 0.75em;
      display: inline; }

.footer {
  margin-top: 1em;
  padding: 3em 4em 7em;
  background: #578934;
  border-top: 1px solid #305e42; }
  .footer a {
    color: #132e3f; }
  .footer .footer-email-form {
    margin-right: 40px;
    text-align: right !important; }

@media screen and (max-width: 767px) {
  #mc_embed_signup input[type="text"],
  #mc_embed_signup input[type="email"],
  #mc_embed_signup .btn {
    padding: 6px 0 !important;
    width: 100%;
    display: block; } }
#jumbotron {
  background-image: url("/images/typing.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  text-align: center; }
  @media screen and (max-width: 767px) {
    #jumbotron {
      padding: 0; } }
  #jumbotron #jumbotron-video {
    margin: 0 auto; }
  #jumbotron #jumbotron-text {
    margin: 0 auto;
    background: rgba(239, 240, 240, 0.4);
    height: 300px; }
    @media screen and (max-width: 767px) {
      #jumbotron #jumbotron-text {
        height: 100%; } }
    #jumbotron #jumbotron-text #inner-text {
      padding: 20px 10px; }
  #jumbotron h1.ada-text {
    font-size: 110px; }
  #jumbotron h1 {
    text-shadow: 2px 2px white;
    font-size: 70px;
    line-height: 0.95; }

.featured {
  font-size: 28px;
  text-align: center; }

.subtitle h2 {
  margin-top: 30px; }

div.sponsors {
  margin-bottom: 50px; }
  div.sponsors h3 {
    color: #777777; }

ul.sponsors li {
  height: 70px;
  line-height: 70px; }
ul.sponsors img {
  width: 100%;
  max-width: 170px;
  max-height: 70px;
  display: inline-block; }

ul.team img {
  width: 200px;
  height: 200px; }

iframe#indie-gogo-widget {
  display: block;
  margin: 15px auto 0 auto; }

#ada-info img {
  display: block;
  margin: 0 auto; }

.thumbnail {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none; }

.inner {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0px !important; }

.sub {
  padding-top: 0px !important;
  font-size: 12px; }

.news-links a {
  font-size: 24px; }
.news-links div {
  padding: 15px 0; }

.blog-post {
  margin: 50px; }

.blog-video {
  margin: 50px; }
