$muted: #E4E4E4
$navy: #132e3f
$sea: #224549
$forest: #305e42
$grass: #578934
$lime: #9eb15f
$yellow: #dab765

body
  background: $muted 
  font-family: "ff-tisa-web-pro", serif

h1
  font-family: "oxtail", sans-serif
  
a
  color: $grass  
  
.body-text p 
  font-size: 1.4em
  font-weight: 200
  line-height: 30px  

// For the top nav
.navbar-fixed-top 
  top: 10px

.nav-faq
  margin-right: 120px

.center-nav
  margin-left: 30% !important

.ada-logo
  position: absolute 
  left: 50%
  margin-left: -70px
  margin-top: -20px

.navbar-inner
  border-bottom: 1px solid $forest
  height: 65px
  background: $grass !important
  a 
    margin-top: 12px
    font-size: 16px
    color: $navy !important
  a:hover, .active a
    -webkit-box-shadow: none !important
    box-shadow: none !important
    background: none !important
    color: $muted !important   

.icon
  margin-top: 10px
  height: 45px
  width: 45spx    

// For the header that sits below the top nav
.page-header
  height: 150px
  margin-top: 0px
  margin-bottom: 60px
  background: $grass
  background-repeat: no-repeat
  background-size: 100%
  h1 
    margin-top: 0px
    line-height: 60px
    padding-top: 20px
    padding-left: 20px   
    
#faq-header
  background-image: url("/images/pairing2.png")
  
#about-header
  background-image: url("/images/typing.png")
  
// Footer
.footer
  padding-top: 30px
  padding-left: 40px
  background: $grass
  border-top: 1px solid $forest 
  a
    color: $navy
  .footer-email-form
    margin-right: 40px
    text-align: right !important
    label
      margin-top: 10px
      font-size: 20px
    input
      margin-top: 10px
      display: inline-block
    input.btn
      margin-top: 0px  

// For the homepage
#jumbotron 
  height: 350px !important
  background-image: url("/images/typing.png")
  margin-bottom: 20px
  #jumbotron-text
    padding-top: 75px
  h1.ada-text
    font-size: 120px
  h1 
    margin-left: 20px
    text-shadow: 2px 2px white
    font-size: 70px
    line-height: .8
  h3 
    font-weight: 100
    line-height: 1

.featured
  text-align: center

div.sponsors
  margin-bottom: 50px
  
ul.sponsors
  li 
    height: 70px
    line-height: 70px
  img
    width: 100%
    max-height: 70px  
    display: inline-block

// Page-specific styling
#ada-info img 
  display: block
  margin: 0 auto