<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="//use.typekit.net/fas0caa.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" title="" charset="utf-8" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.css" type="text/css" media="screen" title="" charset="utf-8" />
  <title>Ada Developers Academy</title>

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/sass/master.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
  <script src="/javascript/modernizr.js"></script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav center-nav">
            <li class="{% if page.url == '/index.html' %}active{% endif %}"><a href="/">Home</a></li>
            <li class="{% if page.url == '/about/index.html' %}active{% endif %}"><a href="/about">About</a></li>
            <li class="nav-faq {% if page.url == '/faq/index.html'   %}active{% endif %}"><a href="/faq">FAQ</a></li>
            <!-- <li class="{% if page.blog %}active{% endif %}"><a href="/blog">Blog</a></li> -->
            <img class="ada-logo" src="/images/ada_logo.png" />
            <li class="{% if page.url == '/community/index.html' %}active{% endif %}"><a href="/community">Get Involved</a></li>
            <li class="{% if page.url == '/apply/index.html' %}active{% endif %}"><a href="/apply">Apply</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  
    {{ content }}
  <div class="container"> 
    <hr>
    <div class="footer">
      <div class="contact">
        <div class='row'>
          <div class='span9'>
            <a href="http://github.com/Ada-Developers-Academy">GitHub</a>
            <a href="http://twitter.com/adaacademy">Twitter</a>
            <a href="https://www.facebook.com/adadevelopers">Facebook</a>
          </div>
          <div class='span3'>
            <!-- Begin MailChimp Signup Form -->
            <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
            <style type="text/css">
            	#mc_embed_signup{background:transparent; clear:left; font:14px Helvetica,Arial,sans-serif; }
            	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
            	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
              <form action="http://adadevelopersacademy.us7.list-manage2.com/subscribe/post?u=1257144c242d44e00562dabbd&amp;id=9343a1d29b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              	<label for="mce-EMAIL">Subscribe to our mailing list</label>
              	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </form>
            </div>
            <!--End mc_embed_signup-->
          </div>  
        </div>  
      </div>
    </div>
  </div> <!-- /container -->
</body>
</html>
