<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/ada-favicon.ico" >
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ page.description }}">
  <link rel="stylesheet" href="/css/normalize.css">
  
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" title="" charset="utf-8" />
  <link rel="stylesheet" href="/css/bootstrap-responsive.css" type="text/css" media="screen" title="" charset="utf-8" />
  
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/master.css">
  <script type="text/javascript" src="//use.typekit.net/fas0caa.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
  <script src="/javascript/modernizr.js"></script>
  <script src="/javascript/custom.js"></script>
  <title>Ada Developers Academy</title>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43971715-1', 'adadevelopersacademy.org');
    ga('send', 'pageview');

  </script>
</head>

<body>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav center-nav">
             <li id="home" class="{% if page.url == '/' %}active{% endif %}"><a href="/">Home</a></li>
            <li class="nav-faq {% if page.url == '/faq/index.html'   %}active{% endif %}"><a href="/faq">FAQ</a></li>
            <li class="{% if page.url == '/about/index.html' %}active{% endif %}"><a href="/about">About</a></li>
             <li class="{% if page.url == '/news/index.html' %}active{% endif %}"><a href="/news">News</a></li>
            <li id="logo" class='visible-desktop'><a href="/"><img id="adalogo" src="/images/ada_logo_circle.png" /></a></li>
            <li class="{% if page.url == '/blog/index.html' %}active{% endif %}"><a href="/blog">Blog</a></li>
            <li class="{% if page.url == '/community/index.html' %}active{% endif %}"><a href="/community">Community</a></li>
            <li id="apply"><a href="http://application.adadevelopersacademy.org">Apply</a></li>
          </ul> 
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  {{ content }}
  <div class="footer">
      <div class='row'>
        <div class='span6 social'>
          <div class="ta-info">
            Ada is a project of the <a href="http://technology-alliance.com" target="blank">Technology Alliance</a>. 
          </div> 
          <div class="ta-info">
            1301 5th Ave #1500 | Seattle, WA | 98101
          </div> 
          <a href="http://github.com/Ada-Developers-Academy" target="blank"><img src="/images/icons/icongithub.png" class="icon" /></a>
           <a href="http://twitter.com/adaacademy" target="blank"><img src="/images/icons/icontwitter.png" class="icon" /></a>
            <a href="https://www.facebook.com/adadevelopers" target="blank"><img src="/images/icons/iconfacebook.png" class="icon" /></a>
           <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="LHCMLAZEEQQ4Q">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
  
        <div class='email-form footer-email-form'>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="http://adadevelopersacademy.us7.list-manage2.com/subscribe/post?u=1257144c242d44e00562dabbd&amp;id=9343a1d29b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            	<label for="mce-EMAIL" class='tk-oxtail'>Receive { Ada } Updates</label>
            	<input type="email" value="" name="EMAIL" class="email input" id="mce-EMAIL" placeholder="email address" required>
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success">
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>  
    </div>
  </div>
</body>
</html>
